<mjml>
  <mj-head>
    <mj-attributes>
      <mj-all font-family="Arial, Verdana" color="#343434" />
    </mj-attributes>
  </mj-head>
  <mj-body>
    <mj-section>
      <mj-column>
        <mj-text>
          <h1>
            Je bestelling bij {{ channelName }}
          </h1>
        </mj-text>
        <mj-divider border-color="#343434"></mj-divider>

        <mj-text>Bedankt voor je bestelling bij {{ channelName }}!</mj-text>

      </mj-column>
    </mj-section>

    <mj-section>
      <mj-column>
        <mj-text font-weight="800" padding-bottom="0px">Dit heb je besteld:</mj-text>

        <mj-table cellpadding="6px">
          {{#each order.lines }}
            <tr padding-bottom="0px">
              <td>{{ quantity }} x</td>
              <td>
                {{ productVariant.name }}
              </td>
              <td align="right">€ {{ formatMoney linePrice }}</td>
            </tr>
          {{/each}}

          <tr>
            <td>Verzendkosten</td>
            <td></td>
            <td align="right">€ {{ formatMoney order.shipping }}</td>
          </tr>

          {{#each order.discounts }}
            <tr>
              <td>{{ description }}</td>
              <td></td>
              <td align="right">€{{ formatMoney amount }}</td>
            </tr>
          {{/each}}

          <tr></tr>
        </mj-table>

        <mj-divider border-color="#343434" border-width="1px"></mj-divider>

        <mj-table cellpadding="6px">

          <tr>
            <td>Totaal excl.</td>
            <td align="right">€ {{ formatMoney summary.totalExVAT }}</td>
          </tr>
          {{#each summary.taxTotal}}
            <tr>
              <td>{{ @key }}% BTW</td>
              <td align="right">€ {{ formatMoney this }}</td>
            </tr>
          {{/each}}
          <tr>
            <td><strong>Totaal incl.</strong></td>
            <td align="right"><strong>€ {{ formatMoney summary.totalIncVAT }}</strong></td>
          </tr>

        </mj-table>

      </mj-column>
    </mj-section>

    <mj-section>
      <mj-column>
        <mj-text font-weight="800" padding-bottom="0px">Bezorgadres</mj-text>
        {{#with order.shippingAddress }}
          {{#if fullName}}
            <mj-text padding-bottom="0px">{{ fullName }}</mj-text>
          {{/if}}
          {{#if company}}
            <mj-text padding-bottom="0px">{{ company }}</mj-text>
          {{/if}}
          {{#if streetLine1}}
            <mj-text padding-bottom="0px">{{ streetLine1 }} {{ streetLine2 }}</mj-text>
          {{/if}}
          {{#if postalCode}}
            <mj-text padding-bottom="0px">{{ postalCode }}, {{ city }}</mj-text>
          {{/if}}
          {{#if country}}
            <mj-text>{{ country }}</mj-text>
          {{/if}}
        {{/with}}
      </mj-column>
      <mj-column>
        <mj-text font-weight="800" padding-bottom="0px">Bestelling</mj-text>
        <mj-text padding-bottom="0px">Nr. {{ order.code }}</mj-text>
        <mj-text padding-bottom="0px">{{ formatDate order.orderPlacedAt }}</mj-text>
      </mj-column>
    </mj-section>

    {{#if invoiceLink }}
      <mj-section>
        <mj-column>
          <mj-text><a href="{{ invoiceLink }}" target="_blank">Download factuur als pdf</a></mj-text>
        </mj-column>
      </mj-section>
    {{/if}}

    <mj-section>
      <mj-column>
        <mj-divider border-color="#343434"></mj-divider>
        <mj-text>Vragen of opmerkingen? Neem contact op via: </mj-text>
        {{#each adminRecipients}}
          <mj-text> {{this}} </mj-text>
        {{/each}}
      </mj-column>
    </mj-section>

  </mj-body>
</mjml>
