<mjml>
    <mj-head>
        <mj-attributes>
            <mj-all font-family="Arial, Verdana" color="#343434" />
        </mj-attributes>
    </mj-head>
    <mj-body>
        <mj-section>
            <mj-column>
                <mj-image src="https://shop.marcdefotograaf.nl/marcdefotograaf.png" ></mj-image>
                <mj-divider border-color="#343434"></mj-divider>

                <mj-text>Bedankt voor je bestelling bij Marc de Fotograaf!</mj-text>

            </mj-column>
        </mj-section>

        <mj-section>
            <mj-column>
                <mj-text font-weight="800" padding-bottom="0px">Dit heb je besteld: </mj-text>

                <mj-table cellpadding="6px">
                    {{#each order.lines }}
                        <tr padding-bottom="0px">
                            <td>
                                {{ productVariant.name }}
                            </td>
                            <td>{{ quantity }} x</td>
                            <td>€ {{ formatMoney totalPrice }}</td>
                        </tr>
                    {{/each}}

                    <tr>
                        <td colspan="2">{{ order.shippingMethod.description }}</td>
                        <td>€ {{ formatMoney order.shipping }}</td>
                    </tr>

                    <tr>
                        <td colspan="2"><strong>Totaal Excl.</strong></td>
                        <td><strong>€ {{ formatMoney summary.totalExVAT }}</strong></td>
                    </tr>
                    {{#each summary.taxTotal}}
                        <tr>
                            <td colspan="2">Totaal {{ @key }}% BTW</td>
                            <td>€ {{ formatMoney this }}</td>
                        </tr>
                    {{/each}}

                    <tr>
                        <td colspan="2"><strong>Totaal BTW betaald</strong></td>
                        <td><strong>€ {{ formatMoney summary.totalVAT }}</strong></td>
                    </tr>
                    <tr>
                        <td colspan="2"><strong>Totaal Incl.</strong></td>
                        <td><strong>€ {{ formatMoney summary.totalIncVAT }}</strong></td>
                    </tr>

                </mj-table>

            </mj-column>
        </mj-section>

        <mj-section>
            <mj-column>
                <mj-text font-weight="800" padding-bottom="0px">Bezorgadres</mj-text>
                {{#with order.shippingAddress }}
                        {{#if company}}<mj-text padding-bottom="0px">{{ company }}</mj-text>{{/if}}
                        {{#if streetLine1}}<mj-text padding-bottom="0px">{{ streetLine1 }} {{ streetLine2 }}</mj-text>{{/if}}
                        {{#if postalCode}}<mj-text padding-bottom="0px">{{ postalCode }}, {{ city }}</mj-text>{{/if}}
                        {{#if country}}<mj-text>{{ country }}</mj-text>{{/if}}
                {{/with}}
            </mj-column>
            <mj-column>
                <mj-text font-weight="800" padding-bottom="0px">Bestelling</mj-text>
                <mj-text padding-bottom="0px">Nr. {{ order.code }}</mj-text>
                <mj-text padding-bottom="0px">{{ formatDate order.orderPlacedAt }}</mj-text>
            </mj-column>
        </mj-section>

        <mj-section>
            <mj-column>
                <mj-divider border-color="#343434"></mj-divider>
                <mj-text>Vragen of opmerkingen? Neem contact op via info@marcdefotograaf.nl</mj-text>
            </mj-column>
        </mj-section>


    </mj-body>
</mjml>